body {
  font-size: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrapper.active {
  left: 16em;
}
a.menu-link {
    float: left;
    display: block;
    padding: 1em;
}
nav[role=navigation] {
  background: #808080;
  clear: both;
  overflow: hidden;
}
.js nav[role=navigation] {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}
nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.container {
  clear: both;
  padding: 1.25%;
  margin: 1%;
}

@media screen and (min-width: 41.25em) {
  a.menu-link {
     display: none;
  }
  .js nav[role=navigation] {
    max-width: none;
    position: static;
    height: auto;
    width: auto;
  }
  .wrapper.active {
    left: 0;
  }
  nav[role=navigation] ul {
    margin: 0;
    border: 0;
  }

  nav[role=navigation]  li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role=navigation] li a {
    border: 0;
  }
}